@font-face {
  font-family: OpenSans;
  font-weight: 400;
  font-style: normal;
  src: url(fonts/OpenSans-Regular.woff);
}

@font-face {
  font-family: OpenSans;
  font-weight: 400;
  font-style: normal;
  src: url(fonts/OpenSans-Regular.woff2);
}

@font-face {
  font-family: OpenSans;
  font-weight: 700;
  font-style: normal;
  src: url(fonts/OpenSans-Bold.woff);
}

@font-face {
  font-family: OpenSans;
  font-weight: 700;
  font-style: normal;
  src: url(fonts/OpenSans-Bold.woff2);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  font-size: 16px;

  margin: 0;
  padding: 0;
}

/* Header */

.header {
  width: 100%;
  min-height: 100vh;
  max-width: 1920px;

  position: relative;

  background-image: url("img/football_1920.jpg");
  background-color: #000;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header::after {
  content: "";
  position: absolute;
  background-color: #0a0e34;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  opacity: 0.9;
}

.header-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 0.75rem;

  position: relative;
  z-index: 2;
}

.header-logo {
  text-align: center;
  padding: 2.8rem 0 18.5rem 0;
}

.header-logo-content {
  width: 11.9rem;
  height: 3.25rem;
}

.header-title {
  margin-bottom: 13.9rem;
  font-size: 5.6rem;
  line-height: 6.25rem;
  font-weight: 700;

  color: #fff;
  text-transform: uppercase;
}

.header-subtitle {
  display: block;
  font-size: 5.6rem;
  line-height: 6.25rem;
  font-weight: 700;

  color: #fff;
  text-transform: uppercase;
  text-align: right;
}

/* Header-buttons */

.header-buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 6.875rem;
}

.header-button-content {
  display: flex;
  align-items: center;
  width: 19.4rem;
  height: 4.8rem;
  margin-right: 3.125rem;

  border-radius: 2.4rem;
  background-color: #5e42b0;
  text-decoration: none;
}

.header-button-content:hover .button-logo {
  fill: #000;
}

.header-button-content:last-child {
  margin-right: 0;
}

.button-logo {
  width: 2.43rem;
  height: 3rem;
  margin-left: 2.43rem;

  transition: fill 0.2s linear;
}

.button-text {
  width: 8.56rem;
  font-size: 0.875rem;
  margin-top: 0.875rem;
  margin-left: 1.68rem;

  color: #fff;
  text-transform: uppercase;
}

.button-text-upper {
  font-size: 0.875rem;
  line-height: 2.125rem;
  font-weight: 700;
}

/* Athlets */

.top-page {
  background-color: #fff;
}

.middle-page {
  background-color: rgba(94, 66, 176, 0.06);
}

.bottom-page {
  background-color: #5e42b0;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 7.44rem auto;
}

.athlets {
  width: 44.7rem;
  margin-left: auto;
  padding: 0 0.75rem;
  position: relative;
}

.athlets--middle {
  width: 44.8rem;
  padding: 0 0.75rem;
  margin-left: auto;
}

.athlets--bottom {
  width: 44.8rem;
  padding: 0 0.75rem;
  margin-left: auto;
}

.athlets:after {
  content: "";
  position: absolute;
  height: 56.75rem;
  width: 35.2rem;

  top: -4.375rem;
  left: -38.75rem;
  right: 0;
  bottom: 0;
  z-index: 1;

  background-image: url(img/footballer_566.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-title {
  font-size: 5rem;
  font-weight: 700;

  color: #e7e7e7;
  text-transform: uppercase;
}

.athlets-description {
  padding-bottom: 60px;
}

.title-number {
  font-size: 18px;
  line-height: 34px;
  color: #000000;
  font-weight: 700;

  position: relative;
}

.title-number:after {
  content: "";
  position: absolute;

  top: 23px;
  left: 1px;
  right: 0;
  bottom: 0;
  z-index: 1;

  width: 19px;
  height: 5px;
  border-radius: 2px;
  background-color: #5e42b0;
}

.title-number--bottom {
  font-size: 18px;
  line-height: 34px;
  color: #000000;
  font-weight: 700;

  position: relative;
}

.title-number--bottom:after {
  content: "";
  position: absolute;

  top: 23px;
  left: 1px;
  right: 0;
  bottom: 0;
  z-index: 1;

  width: 19px;
  height: 5px;
  border-radius: 2px;
  background-color: #efefef;
}


.description-title {
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.125rem;

  text-transform: uppercase;
  color: #c1c1c1;
}

.description-content {
  font-size: 1.25rem;
  font-weight: 400;

  color: #000;
}

.description-content--bottom {
  font-size: 1.25rem;
  font-weight: 400;

  color: #fff;
}
