@font-face {
  font-family: OpenSans;
  font-weight: 400;
  font-style: normal;
  src: url(fonts/OpenSans-Regular.woff);
}

@font-face {
  font-family: OpenSans;
  font-weight: 400;
  font-style: normal;
  src: url(fonts/OpenSans-Regular.woff2);
}

@font-face {
  font-family: OpenSans;
  font-weight: 700;
  font-style: normal;
  src: url(fonts/OpenSans-Bold.woff);
}

@font-face {
  font-family: OpenSans;
  font-weight: 700;
  font-style: normal;
  src: url(fonts/OpenSans-Bold.woff2);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
picture {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  font-size: 16px;

  margin: 0;
  padding: 0;

  overflow-x: hidden;
}

/* Header */

.header {
  width: 100%;
  min-height: 100vh;
  max-width: 1920px;

  position: relative;

  background-image: url("img/football_1920.jpg");
  background-color: #000;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header::after {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  background-color: #0a0e34;
  opacity: 0.9;
}

.header-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 0.75rem;

  position: relative;
  z-index: 2;
}

.surface-logo-wrapper {
  padding: 2.8rem 0 18.5rem 0;
}

.surface-logo {
  text-align: center;
}

.surface-logo-content {
  width: 11.9rem;
  height: 3.25rem;
}

.header-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 5.6rem;
  font-weight: 700;

  padding-bottom: 13.9rem;

  color: #fff;
  text-transform: uppercase;
}

.header-suptitle {
  display: flex;
  align-self: flex-start;
  width: 80%;
  margin: auto;
}

.header-subtitle {
  display: flex;
  align-self: flex-end;
  width: 80%;
}

/* Header-buttons */

.buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 6.875rem;
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19.4rem;
  height: 4.8rem;
  margin-right: 3.125rem;

  border-radius: 2.4rem;
  background-color: #5e42b0;
  text-decoration: none;
}

.button-content:hover .button-logo {
  fill: #000;
}

.button-content:last-child {
  margin-right: 0;
}

.button-logo {
  width: 2.43rem;
  height: 3rem;

  transition: fill 0.2s linear;
}

.button-text {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  font-size: 0.875rem;
  margin-left: 1.68rem;

  color: #fff;
  text-transform: uppercase;
}

.button-text-upper {
  font-size: 0.875rem;
  font-weight: 700;
}

/* Athlets */

.main-pages {
  width: 100%;
  max-width: 1920px;
}
.players-page {
  overflow: hidden;
}

.top-page {
  background-color: #fff;
}

.middle-page {
  background-color: rgba(94, 66, 176, 0.06);
}

.bottom-page {
  background-color: #5e42b0;
}

.bottom-page--players {
  background-color: #0a0e34;
}

.athlets {
  width: 60%;
  margin-left: auto;
  padding: 0 0.93rem;
  position: relative;
}

.athlets:after {
  content: "";
  position: absolute;
  height: 56.75rem;
  width: 35.37rem;

  top: 2.625rem;
  right: 100%;
  bottom: 0;
  z-index: 1;

  background-image: url(img/footballer_566.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.athlets--middle {
  width: 60%;
  padding: 0 0.93rem;
  margin-left: auto;
}

.athlets--bottom {
  width: 60%;
  padding: 0 0.93rem;
  margin-left: auto;
}

.main-title {
  padding-top: 7.44rem;
  font-size: 5rem;
  font-weight: 700;

  color: #e7e7e7;
  text-transform: uppercase;
}

.page-description {
  padding-bottom: 3.75rem;
}

.title-number {
  font-size: 1.125rem;
  line-height: 2.125rem;
  font-weight: 700;

  color: #000;
  position: relative;
}

.title-number:after {
  content: "";
  position: absolute;

  top: 1.44rem;
  left: 0.06rem;
  right: 0;
  bottom: 0;
  z-index: 1;

  width: 1.19rem;
  height: 0.31rem;
  border-radius: 0.125rem;
  background-color: #5e42b0;
}

.title-number--bottom {
  font-size: 1.125rem;
  line-height: 2.125rem;
  font-weight: 700;

  color: #000;
  position: relative;
}

.title-number--bottom:after {
  content: "";
  position: absolute;

  top: 1.44rem;
  left: 0.06rem;
  right: 0;
  bottom: 0;
  z-index: 1;

  width: 1.19rem;
  height: 0.31rem;
  border-radius: 0.125rem;
  background-color: #efefef;
}

.title-number--players {
  font-size: 1.125rem;
  line-height: 2.125rem;
  color: #9173e6;
  font-weight: 700;

  position: relative;
}

.title-number--players:after {
  content: "";
  position: absolute;

  top: 1.44rem;
  left: 0.06rem;
  right: 0;
  bottom: 0;
  z-index: 1;

  width: 1.19rem;
  height: 0.31rem;
  border-radius: 0.125rem;
  background-color: #efefef;
}

.description-title {
  padding-top: 3.75rem;
  padding-bottom: 1.875rem;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.125rem;

  text-transform: uppercase;
  color: #c1c1c1;
}

.description-content {
  font-size: 1.25rem;

  color: #000;
}

.description-content--bottom {
  font-size: 1.25rem;

  color: #fff;
}

/* Players */

.players--top {
  width: 60%;
  padding: 0 0.93rem;
  position: relative;
}

.players--top:after {
  content: "";
  position: absolute;
  height: 51rem;
  width: 62rem;

  top: 5%;
  left: 75%;
  bottom: 0;
  z-index: 1;

  background-image: url(img/basketballer_991.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.players--middle {
  width: 60%;
  padding: 0 0.93rem;
}

.players--bottom {
  width: 60%;
  padding: 0 0.93rem;
}

/* Call Page */

.call-page {
  display: flex;
  flex-wrap: wrap;
}

.call-page-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.call-page-pic {
  width: 50%;
  height: 45.6rem;
}

.call-page-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100%;
}

.call-page-img--second {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 100%;
}

.call-page-content {
  width: 50%;
  padding: 15.25rem 8rem 5rem 0.94rem;
}

.call-page-content:nth-child(2n+2) {
  width: 50%;
  padding: 15.25rem 0.94rem 5rem 8rem;
}

.call-title {
  position: relative;
  font-size: 5rem;
  margin-bottom: 7.375rem;

  text-transform: uppercase;
  color: rgba(193, 193, 193, 0.4);
}

.call-title-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  line-height: 2.125rem;
  font-weight: 700;

  width: 10.5rem;
  height: 9.7rem;

  position: absolute;
  background-color: #5e42b0;
  color: #f5f6f7;

  transform: translate(-126%, -25%);
}

.call-title-number--second {
  font-size: 1.5rem;
  line-height: 2.125rem;
  font-weight: 700;

  width: 10.5rem;
  height: 9.7rem;

  position: absolute;
  left: 100%;
  z-index: 1;


  background-color: #5e42b0;
  color: #f5f6f7;

  transform: translate(26%, -25%);
}

.call-title-number:after {
  content: "";
  position: absolute;
  width: 1.625rem;
  height: 0.31rem;

  top: 5.75rem;
  z-index: 1;

  border-radius: 0.125rem;
  background-color: #fff;
  opacity: 0.3;
}

.call-page-text {
  font-size: 1.5rem;
  color: #000;
}

/* Footer */

.footer {
  width: 100%;
  min-height: 100vh;
  max-width: 1920px;

  position: relative;

  background-image: url("img/game_1920.jpg");
  background-color: #000;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer::after {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  background-color: #0a0e34;
  opacity: 0.9;
}

.footer-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 0.75rem;

  position: relative;
  z-index: 2;
}

.footer-wrapper {
  display: flex;
  width: 54rem;

  margin: auto;
  padding: 14.3rem 0 9.4rem;

  align-items: center;
}

.footer-logo {
  padding-right: 2.3rem;
}

.footer-logo-top {
  display: flex;
  width: 8.125rem;
  height: 8.62rem;

  background-image: linear-gradient(0deg, #50329c 0%, #5e3db3 51%, #7751db 100%);
  border-radius: 22%;
}

.footer-logo-img {
  height: 5.43rem;
  width: 6.625rem;
  margin: auto;
}

.footer-text {
  display: flex;
  flex-wrap: wrap;
}

.footer-title {
  font-size: 5rem;
  font-weight: 700;

  color: #fff;
  text-transform: uppercase;
}

.footer-subtitle {
  font-size: 1.875rem;
  line-height: 2.125rem;

  color: #a496ca;
  text-transform: uppercase;
}

.suface-logo-footer {
  padding: 16.75rem 0 3.25rem 0;
}


/* Media */

@media (min-width: 641px) and (max-width: 960px) {
  /* Header */

  .header-title {
    font-size: 4rem;
  }

  /* Main-pages */
  .top-page {
    overflow: hidden;
  }

  .main-title {
    font-size: 5rem;
    font-weight: 700;
    padding-top: 5.375rem;

    color: #e7e7e7;
  }

  .description-title {
    padding-top: 2.5rem;
  }

  .page-description {
    padding-bottom: 2.5rem;
  }

  .description-content {
    font-size: 1rem;
  }

  .athlets:after {
    width: 31rem;
    height: 43.7rem;

    top: 7.625rem;
    right: 85%;

    background-image: url(img/footballer_497.png);
  }

  .players--top:after {
    width: 100%;
    height: 45.625rem;

    top: -5%;
    left: 80%;

    background-image: url(img/basketballer_436.png);
    background-size: contain;
  }

  /* Call-pages */

  .call-page-pic {
    width: 100%;
    height: inherit;
  }

  .call-page-img {
    height: inherit;

    object-position: 65% 100%;
  }

  .call-page-content {
    width: 100%;
    padding: 5.625rem 0.94rem 6.25rem 0.94rem;

    order: 1;
  }

  .call-page-content:nth-child(2n+2) {
    width: 100%;
    padding: 5.625rem 0.94rem 6.25rem 0.94rem;
  }

  .call-title {
    margin-bottom: 2.5rem;
  }

  .call-title-number {
    width: 7.25rem;
    height: 7.25rem;

    transform: translate(5%, -145%);
  }

  .call-title-number:after {
    top: 4.5rem;
  }

  .call-title-number--second {
    left: 0;
  }

  /* Footer */

  .footer-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    width: inherit;

    padding: 7.9rem 0 36rem;
  }

  .footer-logo {
    padding: 0 0 5.125rem 0;
  }

  .footer-text {
    justify-content: center;
  }

  .footer-title {
    font-size: 4.5rem;
    text-align: center;
  }

  .buttons {
    padding-bottom: 8.44rem;
  }

  .suface-logo-footer {
    padding: 0 0 1.44rem 0;
  }
}


@media (max-width: 640px) {

  /* Header */

  .header-container {
    padding: 0 1.25rem;
  }

  .surface-logo-wrapper {
      padding: 2rem 0 8.5rem 0;
  }

  .surface-logo-content {
    width: 8.3rem;
    height: 2.25rem;
  }

  .header-title {
    font-size: 1.75rem;
    padding-bottom: 5.6rem;
  }

  .header-subtitle {
    padding-top: 0.625rem;
  }

  .buttons {
    flex-wrap: wrap;
  }

  .button-content {
    margin-right: 0;
    margin-bottom: 0.875rem;
    width: 100%;
    height: 2.2rem;
    justify-content: center;
  }

  .button-logo {
    width: 1.25rem;
    height: 1.5rem;
  }

  .button-text {
    margin-top: 0;
    margin-left: 1rem;
    font-size: 0.5rem;
    width: 5rem;
  }

  .button-text-upper {
    font-size: 0.5rem;
  }

  /* Athlets */

  .athlets {
    width: 100%;
    margin-left: inherit;
  }

  .athlets--middle {
    width: 100%;
  }

  .athlets--bottom {
    width: 100%;
  }

  .athlets:after {
    width: 12rem;
    height: 17.6rem;

    top: 18%;
    left: calc(50% - 11.875rem/2);
    z-index: 1;

    background-image: url(img/footballer_192.png);
  }

  .main-title {
    font-size: 3.125rem;
    padding-top: 1.56rem;
    margin-bottom: 14.7rem;
  }

  .description-title {
    font-size: 1.4rem;
    padding-top: 3.75rem;
  }

  .description-content {
    font-size: 0.94rem;
  }

  .title-number {
    font-size: 0.94rem;
  }

  .title-number:after {
    width: 0.94rem;
    height: 0.25rem;

    left: 0.06rem;
    top: 1.25rem;
  }

  /* Player */

  .players--top {
    width: 100%;
  }

  .players--top:after {
    width: 18.9rem;
    height: 15.5rem;

    top: 20%;
    left: calc(50% - 19.375rem/2);

    background-image: url(img/basketballer_302.png);
  }

  .players--middle {
    width: 100%;
  }

  .players--bottom {
    width: 100%;
  }

  /* Call-pages */

  .call-page-pic {
    width: 100%;
    height: inherit;
  }

  .call-page-img {
    height: inherit;

    object-position: 65% 100%;
  }

  .call-page-content {
    width: 100%;
    padding: 2.125rem 0.94rem 3.1rem 0.94rem;

    order: 1;
  }

  .call-page-content:nth-child(2n+2) {
    width: 100%;
    padding: 2.125rem 0.94rem 3.1rem 0.94rem;
  }

  .call-title {
    font-size: 1.75rem;
    margin-bottom: 1.56rem;
    line-height: 1.2;
  }

  .call-page-text {
    font-size: 1rem;
  }

  .call-title-number {
    font-size: 0.875rem;
    width: 4.37rem;
    height: 4.37rem;

    transform: translate(5%, -135%);
  }

  .call-title-number:after {
    width: 0.94rem;
    height: 0.25rem;
    top: 2.8rem;
  }

  .call-title-number--second {
    left: 0;
  }

  /* Footer */

  .footer-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    width: inherit;

    padding: 6.2rem 0 4.8rem;
  }

  .footer-logo {
    padding: 0 0 3.7rem 0;
  }

  .footer-logo-top {
    width: 4.5rem;
    height: 4.625rem;
  }

  .footer-logo-img {
    width: 3.75rem;
    height: 2.9rem;
  }

  .footer-text {
    justify-content: center;
  }

  .footer-title {
    font-size: 2rem;
    text-align: center;
  }

  .footer-subtitle {
    font-size: 0.875rem;
  }

  .buttons {
    padding-bottom: 8.44rem;
  }

  .suface-logo-footer {
    padding: 0;
  }
}
