@font-face {
  font-family: OpenSans;
  font-weight: 400;
  font-style: normal;
  src: url(fonts/OpenSans-Regular.woff);
}

@font-face {
  font-family: OpenSans;
  font-weight: 400;
  font-style: normal;
  src: url(fonts/OpenSans-Regular.woff2);
}

@font-face {
  font-family: OpenSans;
  font-weight: 700;
  font-style: normal;
  src: url(fonts/OpenSans-Bold.woff);
}

@font-face {
  font-family: OpenSans;
  font-weight: 700;
  font-style: normal;
  src: url(fonts/OpenSans-Bold.woff2);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  font-size: 16px;

  margin: 0;
  padding: 0;

  overflow-x: hidden;
}

/* Header */

.header {
  width: 100%;
  min-height: 100vh;
  max-width: 1920px;

  position: relative;

  background-image: url("img/football_1920.jpg");
  background-color: #000;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header::after {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  background-color: #0a0e34;
  opacity: 0.9;
}

.header-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 0.75rem;

  position: relative;
  z-index: 2;
}

.surface-logo-wrapper {
  padding: 2.8rem 0 18.5rem 0;
}

.surface-logo {
  text-align: center;
}

.surface-logo-content {
  width: 11.9rem;
  height: 3.25rem;
}

.header-title {
  padding-bottom: 13.9rem;
  font-size: 5.6rem;
  line-height: 6.25rem;
  font-weight: 700;

  color: #fff;
  text-transform: uppercase;
}

.header-subtitle {
  display: block;
  font-size: 5.6rem;
  line-height: 6.25rem;
  font-weight: 700;

  color: #fff;
  text-transform: uppercase;
  text-align: right;
}

/* Header-buttons */

.buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 6.875rem;
}

.button-content {
  display: flex;
  align-items: center;
  width: 19.4rem;
  height: 4.8rem;
  margin-right: 3.125rem;

  border-radius: 2.4rem;
  background-color: #5e42b0;
  text-decoration: none;
}

.button-content:hover .button-logo {
  fill: #000;
}

.button-content:last-child {
  margin-right: 0;
}

.button-logo {
  width: 2.43rem;
  height: 3rem;
  margin-left: 2.43rem;

  transition: fill 0.2s linear;
}

.button-text {
  width: 8.56rem;
  font-size: 0.875rem;
  margin-top: 0.875rem;
  margin-left: 1.68rem;

  color: #fff;
  text-transform: uppercase;
}

.button-text-upper {
  font-size: 0.875rem;
  line-height: 2.125rem;
  font-weight: 700;
}

/* Athlets */

.main-pages {
  width: 100%;
  max-width: 1920px;
}

.top-page {
  background-color: #fff;
}

.middle-page {
  background-color: rgba(94, 66, 176, 0.06);
}

.bottom-page {
  background-color: #5e42b0;
}

.bottom-page--players {
  background-color: #0a0e34;
}

.athlets {
  width: 50%;
  margin-left: auto;
  padding: 0 0.93rem;
  position: relative;
}

.athlets:after {
  content: "";
  position: absolute;
  height: 56.75rem;
  width: 35.37rem;

  top: 2.625rem;
  right: 110%;
  bottom: 0;
  z-index: 1;

  background-image: url(img/footballer_566.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.athlets--middle {
  width: 50%;
  padding: 0 0.93rem;
  margin-left: auto;
}

.athlets--bottom {
  width: 50%;
  padding: 0 0.93rem;
  margin-left: auto;
}

.main-title {
  padding-top: 7.44rem;
  font-size: 5rem;
  font-weight: 700;

  color: #e7e7e7;
  text-transform: uppercase;
}

.page-description {
  padding-bottom: 3.75rem;
}

.title-number {
  font-size: 1.125rem;
  line-height: 2.125rem;
  font-weight: 700;

  color: #000;
  position: relative;
}

.title-number:after {
  content: "";
  position: absolute;

  top: 1.44rem;
  left: 0.06rem;
  right: 0;
  bottom: 0;
  z-index: 1;

  width: 1.19rem;
  height: 0.31rem;
  border-radius: 0.125rem;
  background-color: #5e42b0;
}

.title-number--bottom {
  font-size: 1.125rem;
  line-height: 2.125rem;
  font-weight: 700;

  color: #000;
  position: relative;
}

.title-number--bottom:after {
  content: "";
  position: absolute;

  top: 1.44rem;
  left: 0.06rem;
  right: 0;
  bottom: 0;
  z-index: 1;

  width: 1.19rem;
  height: 0.31rem;
  border-radius: 0.125rem;
  background-color: #efefef;
}

.title-number--players {
  font-size: 1.125rem;
  line-height: 2.125rem;
  color: #9173e6;
  font-weight: 700;

  position: relative;
}

.title-number--players:after {
  content: "";
  position: absolute;

  top: 1.44rem;
  left: 0.06rem;
  right: 0;
  bottom: 0;
  z-index: 1;

  width: 1.19rem;
  height: 0.31rem;
  border-radius: 0.125rem;
  background-color: #efefef;
}

.description-title {
  padding-top: 3.75rem;
  padding-bottom: 1.875rem;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.125rem;

  text-transform: uppercase;
  color: #c1c1c1;
}

.description-content {
  font-size: 1.25rem;

  color: #000;
}

.description-content--bottom {
  font-size: 1.25rem;

  color: #fff;
}

/* Players */

.players--top {
  width: 50%;
  padding: 0 0.93rem;
  position: relative;
}

.players--top:after {
  content: "";
  position: absolute;
  height: 51rem;
  width: 62rem;

  top: 5%;
  left: 75%;
  bottom: 0;
  z-index: 1;

  background-image: url(img/basketballer_991.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.players--middle {
  width: 50%;
  padding: 0 0.93rem;
}

.players--bottom {
  width: 50%;
  padding: 0 0.93rem;
}

/* Call Page */

.call-page {
  display: flex;
  flex-wrap: wrap;
}

.call-page-numbers {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 13%);
}

.numbers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10.5rem;
  height: 9.7rem;
  font-size: 1.5rem;
  line-height: 2.125rem;
  font-weight: 700;
  margin-bottom: 36rem;
  position: relative;

  color: #f5f6f7;
  background-color: #5e42b0;
}

.numbers-list:last-child {
  margin-bottom: 0;
}

.numbers-list:after {
  content: "";
  position: absolute;

  top: 60%;
  z-index: 1;

  width: 26px;
  height: 5px;
  border-radius: 2px;
  background-color: rgba(255,255,255, 0.3);
}

.call-page-pic {
  width: 50%;
  height: 45.6rem;
}

.call-page-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100%;
}

.call-page-img--second {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 100%;
}

.call-page-content {
  width: 50%;
  padding: 16.25rem 0.94rem 0 8rem;
}

.call-page-content:nth-child(2n+2) {
  width: 50%;
  padding: 16.25rem 8rem 0 0.94rem;
}

.call-title {
  position: relative;
  font-size: 5rem;
  line-height: 3.75rem;
  margin-bottom: 7.375rem;

  text-transform: uppercase;
  color: rgba(193, 193, 193, 0.4);
}

/* .call-title:after {
  content: "";
  position: absolute;
  width: 168px;
  height: 155px;

  top: 0;
  left: 0;
  z-index: 1;

  background-color: #5e42b0;
} */

.call-page-text {
  font-size: 1.5rem;
  color: #000;
}

/* Footer */

.footer {
  width: 100%;
  min-height: 100vh;
  max-width: 1920px;

  position: relative;

  background-image: url("img/game_1920.jpg");
  background-color: #000;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer::after {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  background-color: #0a0e34;
  opacity: 0.9;
}

.footer-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 0.75rem;

  position: relative;
  z-index: 2;
}

.footer-wrapper {
  display: flex;
  width: 54rem;

  margin: auto;
  padding: 14.3rem 0 9.4rem;

  align-items: center;
}

.footer-logo {
  padding-right: 2.3rem;
}

.footer-logo-top {
  display: flex;
  width: 8.125rem;
  height: 8.62rem;

  background-image: linear-gradient(0deg, #50329c 0%, #5e3db3 51%, #7751db 100%);
  border-radius: 22%;
}

.footer-logo-img {
  height: 5.43rem;
  width: 6.625rem;
  margin: auto;
}

.footer-text {
  display: flex;
  flex-wrap: wrap;
}

.footer-title {
  font-size: 5rem;
  font-weight: 700;

  color: #fff;
  text-transform: uppercase;
}

.footer-subtitle {
  font-size: 1.875rem;
  line-height: 2.125rem;

  color: #a496ca;
  text-transform: uppercase;
}

.suface-logo-footer {
  padding: 16.75rem 0 3.25rem 0;
}
